
.results-container { background-color: #000033;
     color:#ffff4d;
    

  h2 { background-color:#8585ad;
     border: 2px solid #ffff4d;
      color:#000033;
      padding: .875em 1.875em 1.875em
    }
}